.no-mb-last > :last-child {
    margin-bottom: 0;
}

.title-lg {
    font-size: clamp(28px, 1.686vw + 21.678px, 50px);
    font-weight: 600;
    line-height: 1.36;
}

.title-md {
    font-weight: 600;
    font-size: clamp(20px, 0.307vw + 18.851px, 24px);
}

.h2-responsive {
    font-size: clamp(24px, 0.766vw + 21.126px, 34px);
}

/* New benefits cards START */
.benefits-cards {
    margin: clamp(60px, 3.065vw + 48.506px, 100px) 0;
}
.card-benefits-new {
    background-color: #F1F1F1;
    border-radius: 24px;
    padding: clamp(15px, 1.916vw + 7.816px, 40px) clamp(15px, 0.383vw + 13.563px, 20px) clamp(24px, 1.226vw + 19.402px, 40px);
}
.card-benefits-new__img {
    margin-bottom: 20px;
}
.card-benefits-new__title {
    font-size: clamp(16px, 0.613vw + 13.701px, 24px);
    font-weight: 600;
    margin-bottom: clamp(4px, 0.46vw + 2.276px, 10px);
}
.card-benefits-new__text-wrap {
    font-size: clamp(14px, 0.153vw + 13.425px, 16px);
}
.benefits-cards-slider {
}
.benefits-cards-slider__track {
    overflow: visible;
}
.benefits-cards-slider__list {
}
.benefits-cards-slider__slide {
}
.benefits-cards-slider__slide .card-benefits-new {
    width: clamp(220px, 13.027vw + 171.149px, 390px);
    height: 100%;
}
@media (max-width: 575.98px) {
    .card-benefits-new {
        display: flex;
        flex-direction: column;
    }
    .card-benefits-new__title {
        margin-top: auto;
    }
}
/* New benefits cards END */

/* Проверка Apple START */
.page--check {
    padding: clamp(70px, 2.299vw + 61.379px, 100px) 0 clamp(80px, 1.533vw + 74.253px, 100px);
}

.check__header {
    text-align: center;
    position: relative;
    padding-bottom: 21px;
    margin-bottom: clamp(50px, 3.831vw + 35.632px, 100px);
}

.check__header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 248px;
    background-color: #F2896F;
    height: 1px;
}

.check__title {
    margin-bottom: clamp(30px, 0.766vw + 27.126px, 40px);
}

.check__text-wrap {
    line-height: 1.5;
}

.check__row {
    align-items: center;
    margin-bottom: -60px;
}

.check__col {
    margin-bottom: 60px;
}

.content-check {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
}

.content-check__title {
    font-size: clamp(24px, 0.766vw + 21.126px, 34px);
    max-width: 27ch;
}

.content-check__row {
    counter-reset: check-steps;
    margin-bottom: -40px;
}

.content-check__col {
    margin-bottom: 40px;
}

.step-check::before {
    font-size: 24px;
    font-weight: 600;
    display: block;
    width: 100%;
    counter-increment: check-steps; 
    content: counter(check-steps, decimal-leading-zero);
    color: #f2896f;
    padding-bottom: 10px;
    border-bottom: 1px solid #252525;
    margin-bottom: 30px;
}

.step-check__title {
    margin-bottom: 10px;
}

.content-check__btn {
    padding: 14px 30px;
}

.content-check__btn .btn__icon {
    width: 24px;
    margin-left: 10px;
}

@media (max-width: 991.98px) {
    .check__row {
        flex-direction: column-reverse;
    }

    .step-check::before {
        border: none;
        padding-bottom: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 575.98px) {
    .content-check__btn {
        width: 100%;
    }
    .content-check__btn span {
        display: none;
    }
}
/* Проверка Apple END */

/* Ремонт START */
.section-repair-showcase {
    background-color: #F9F1E4;
}
.repair-showcase {
}
.repair-showcase__row {
}
.repair-showcase__col {
}
.repair-showcase__col--content {
    padding-top: 70px;
    padding-bottom: 104px;
    z-index: 1;
}
.repair-showcase__col--img {
    display: flex;
    align-items: flex-end;
}
.repair-showcase__title {
    max-width: 23ch;
    margin-bottom: 40px;
}
.repair-showcase__callback {
}
.callback-repair {
}
.callback-repair__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.callback-repair__title span {
    color: #6B3900;
}
.callback-repair__form {
}
.repair-showcase__img-wrap {
    position: absolute;
    bottom: 0;
    right: -88px;
}
.repair-showcase__img {
    pointer-events: none;
    
}
.repair-showcase__benefits {
    position: absolute;
    left: 96px;
    bottom: 52px;
}
.benefits-repair {
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    display: inline-block;
    vertical-align: top;
}
.benefits-repair__list {
}
.benefits-repair__list li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #6B3900;
}
.benefits-repair__list li:not(:last-child) {
    margin-bottom: 20px;
}
.benefits-repair__icon {
    width: 16px;
    flex-shrink: 0;
    margin-right: 10px;
}
.benefits-repair__decor {
    position: absolute;
    right: 14px;
    bottom: -20px;
}

.section-steps {
    margin: clamp(60px, 6.897vw + 34.138px, 150px) 0 clamp(60px, 3.065vw + 48.506px, 100px);
}

.section-steps .section-headline {
    margin-bottom: clamp(25px, 1.916vw + 17.816px, 50px);
}

.section-steps .section-title {
    font-size: clamp(12px, 0.307vw + 10.851px, 16px);
    margin-bottom: clamp(5px, 0.766vw + 2.126px, 15px);
}

.steps {
    background-color: #F1F1F1;
    border-radius: 24px;
    position: relative;
    margin-right: 170px;
    counter-reset: check-steps;
}

.steps__items {
}

.steps__item {
}

.steps__item:not(:last-child) {
    border-bottom: 2px solid #fff;
}

.item-steps {
    display: flex;
    align-items: center;
    padding: 15px 40px;
}

.item-steps__icon {
    width: 50px;
    flex-shrink: 0;
    margin-right: 50px;
}

.item-steps__content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.item-steps__title {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 346px;
    padding-right: 20px;
}

.item-steps__title::before {
    counter-increment: check-steps; 
    content: counter(check-steps, decimal-leading-zero); 
    font-size: 48px;
    font-weight: normal;
    color: #D3C0AB;
    margin-right: 20px;
    min-width: 60px;
}

.item-steps__text-wrap {
    flex: 1 1 auto;
    max-width: 72ch;
}

.steps__img {
    position: absolute;
    bottom: 0;
    left: calc(100% - 43px);
}

.section-popular-services {
    margin: clamp(60px, 3.065vw + 48.506px, 100px) 0 clamp(80px, 1.533vw + 74.253px, 100px);
}
.popular-services {
}
.popular-services__row {
    margin-bottom: -20px;
}
.popular-services__col {
    margin-bottom: 20px;
}
.popular-services__main {
}
.main-popular-services {
    background-color: #F1F1F1;
    padding: clamp(40px, 0.766vw + 37.126px, 50px) clamp(15px, 1.916vw + 7.816px, 40px);
    border-radius: 24px;
    height: 100%;
}
.main-popular-services__title {
    margin-bottom: clamp(25px, 1.916vw + 17.816px, 50px);
}
.main-popular-services__table {
}
.table-popular-services {
    width: 100%;
    font-size: 18px;
}
.table-popular-services td, .table-popular-services th {
    padding: 0;
}
.table-popular-services td:nth-child(2) {
    text-align: right;
    font-weight: 600;
    padding-left: 10px;
}
.table-popular-services tr:not(:last-child) {
    border-bottom: 1px solid #D3C0AB;
}
.table-popular-services tr:not(:last-child) td, .table-popular-services tr:not(:last-child) th {
    padding-bottom: 15px;
}
.table-popular-services tr:not(:first-child) td, .table-popular-services tr:not(:first-child) th {
    padding-top: 15px;
}
.popular-services__callback {
}
.callback-popular-services {
    padding: 50px clamp(15px, 1.916vw + 7.816px, 40px) 135px;
    border-radius: 24px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
}
.callback-popular-services::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: #FBF5ED;
    z-index: -1;
}
.callback-popular-services__title {
    max-width: 28ch;
    margin-bottom: 50px;
}
.callback-popular-services__form {
}
.form-callback-compact {
}
.form-callback-compact__container {
    max-width: 300px;
}
.form-callback-compact__control {
    padding: 13px 14px;
    margin-bottom: 15px;
}
.form-callback-compact__btn {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
}
.form-callback-compact__accept {
    max-width: 41ch;
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 0;
}
.form-callback-compact__accept a {
    color: #252525;
}
.callback-popular-services__decor {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 1366px) {
    .repair-showcase__benefits {
        left: 110px;
    }
}

@media (max-width: 1199.98px) {
    .repair-showcase__col--content {
        padding-bottom: 326px;
    }
    .repair-showcase__img-wrap {
        right: -20px;
    }
    .repair-showcase__img {
        width: 800px;
    }
    .repair-showcase__title {
        margin-bottom: 30px;
    }
    .benefits-repair {
        padding: 0;
        background: none;
        backdrop-filter: none;
    }
    .repair-showcase__benefits {
        position: static;
    }
    .benefits-repair__decor {
        display: none;
    }
    .repair-showcase__callback, .repair-showcase__img-wrap .repair-showcase__benefits {
        display: none;
    }
    .callback-repair {
        margin: clamp(60px, 3.065vw + 48.506px, 100px) 0;
    }
}

@media (max-width: 991.98px) {
    .steps {
        margin-right: 0;
    }
    .steps__img {
        display: none;
    }
    .item-steps {
        padding: 15px 30px;
    }
    .item-steps__icon {
        margin-right: 40px;
    }
    .item-steps__title {
        width: 320px;
    }
    .item-steps__title::before {
        margin-right: 15px;
    }
}

@media (max-width: 767.98px) {
    .repair-showcase__img-wrap {
        right: -40px;
    }
    .repair-showcase__img {
        width: 650px;
    }
    .callback-popular-services {
        padding-bottom: 180px;
    }
    .steps {
        background: none;
    }
    .steps__item:not(:last-child) {
        border: none;
        margin-bottom: 20px;
    }
    .item-steps {
        padding: 0;
        align-items: flex-start;
    }
    .item-steps__icon {
        width: 40px;
        margin-right: 10px;
    }
    .item-steps__content {
        display: block;
    }
    .item-steps__title {
        font-size: 20px;
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 5px;
    }
    .item-steps__title::before {
        font-size: 20px;
        min-width: auto;
        content: counter(check-steps) '. ';
        color: inherit;
        font-weight: inherit;
        margin: 0;
    }
}

@media (max-width: 575.98px) {
    .repair-showcase__img {
        width: auto;
    }
    .repair-showcase__img-wrap {
        right: 0;
    }
    .repair-showcase__title {
        margin-bottom: 20px;
    }
    .benefits-repair__list li:not(:last-child) {
        margin-bottom: 10px;
    }
    .benefits-repair__list li {
        font-size: 16px;
    }
    .callback-repair__title {
        font-size: 24px;
    }
    .callback-repair .form-callback-compact__container {
        max-width: none;
    }
    .section-steps .section-title::after {
        display: none;
    }
    .section-steps .section-headline .h2-responsive {
        max-width: 20ch;
    }
    .table-popular-services {
        font-size: 16px;
    }
    .callback-popular-services__decor {
        width: 205px;
    }

    .callback-popular-services__form .form-callback-compact__container {
        max-width: none;
    }

    .callback-popular-services__title {
        margin-bottom: 56px;
    }
}
/* Ремонт END */

/* Комплект START */
.summary-product--set {
    padding-bottom: 100px;
}
.product__set {
    margin-bottom: 100px;
}
.set-product {
}
.set-product__title {
    margin-bottom: 43px;
}
.set-product__row {
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;
}
.set-product__col {
    padding: 0 20px;
}
.set-product__col--left {
    flex: 1 1 auto;
}
.set-product__col--right {
}

@media (min-width: 1366px) {
    .set-product__col--right {
        flex: 0 0 685px;
        max-width: 685px;
    }
}

.set-product__cards {
    display: flex;
    counter-reset: set;
    margin: 0 calc(clamp(30px, 1.453vw + 15.581px, 40px) * -1);
}
.set-product__card {
    margin: 0 clamp(30px, 1.453vw + 15.581px, 40px);
}
.set-product__card:not(:last-child)::before, .set-product__card:not(:last-child)::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #F2896F;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);
    pointer-events: none;
}
.set-product__card:not(:last-child)::before {
    transform: translateY(-50%);
}
.set-product__card:not(:last-child)::after {
    transform: translateY(-50%) rotate(90deg);
}
.card-product-set {
    display: block;
    color: #000000;
    text-align: center;
    position: relative;
    max-width: 254px;
}
.card-product-set:hover {
    color: #000000;
    text-decoration: none;
}
.card-product-set:hover .card-product-set__title {
    text-decoration: underline;
}
.card-product-set__img {
    margin: 0 auto 4px;
}
.card-product-set__title {
    font-weight: 300;
    margin-bottom: 10px;
}
.card-product-set__title::before {
    counter-increment: set; 
    content: counter(set) '. '; 
}
.card-product-set__price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.set-product__totals {
}
.totals-set {
}
.totals-set__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    column-gap: 9px;
    margin-bottom: 20px;
}
.totals-set__price {
    font-size: 24px;
    margin-bottom: 0;
}
.totals-set__old-price {
    font-size: 20px;
    font-weight: 300;
    color: #949494;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    margin-bottom: 1px;
}
.totals-set__btn {
    padding: 14px;
    width: 300px;
}

.set-product-rows {

}
.set-product-rows__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 40px;
}
.set-product-rows__title {
    flex: 1 1 auto;
    margin-bottom: 0;
}
.set-product-rows__amount {
    margin-right: 100px;
}
.set-product-rows__price {
    margin-bottom: 0;
}
.set-product-rows__delete {
    margin-left: 30px;
}
.set-product-rows__items .product-row__delete {
    visibility: hidden;
    pointer-events: none;
}
.set-product-rows__items .product-row {
    padding: 0;
    border: none;
}
.set-product-rows__items .product-row:not(:last-child) {
    margin-bottom: 10px;
}
/* Комплект END */